h1 {
    font-family: Arial, serif;
    font-size: 30px;
}

label {
    font-family: Arial, serif;
    width: 300px;
    display:block;
}
.mainnav{
    text-align: center;
    border-bottom: 1px solid #dbdbdb;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 17px;
}

.mainnav ul {
    display: inline-block;
    list-style-type: disc;
    justify-content: center;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
}

#loginBox{
    width: 320px;
    height: 420px;
    background-color: lightsteelblue;
    top: 50%;
    left: 40%;
    position: relative;
    transform: translate(-50,-50);
    border-radius: 25px;
    margin-bottom: 150px;
    margin-top: 100px;
    
}

#loginBox p{
    display: block;
    text-align: center;
    margin-top: 30px;
    
}

#loginBox h1{
    text-align: center;
    padding-top: 40px;
    margin-bottom: 50px;
}

#loginBox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px; 
    width: 150px;
    background: #fff;
    border-radius: 20px;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 50px;
}

#loginBox input[type="submit"]:hover{ 
    background-color: lightgray;
}

#loginBox label{
    margin-left: 45px;
    margin-bottom: 6px;
    text-align: start;
}


.main{
    display: inline-table;
}

#mapBox{
    width: 600px;
    height: 600px;
    border-style: groove;
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
    left: 30%;
    
}

#mapBox h1{
    text-align: center;
    padding-top: 30px;
    

}

#map{
    position: relative;
    display: inline-block;
    left: 17%;
    bottom:18%;
    
}

#showAddBox{
    text-align: center;
}

#showAddBox li{
    display: inline-block;
    position: relative;
    
}

#showAddBox p{ 
    display: inline-block;
}

.contactBox{
    width: 420px;
    height: 750px;
    top: 50%;
    left: 35%;
    position: relative;
    transform: translate(-50,-50);
    border-radius: 25px;
    margin-bottom: 150px;
    margin-top: 100px;
    border-style: groove;

}

.contactBox label{
    margin-left: 92px;
    margin-bottom: 6px;
    text-align: start;
}

.contactBox p{
    display: block;
    text-align: center;
    margin-top: 30px;
    
}

.contactBox h1{
    text-align: center;
    padding-top: 40px;
    margin-bottom: 50px;
}

.contactBox button{
    border: none;
    outline: none;
    height: 40px; 
    width: 150px;
    background: lightsteelblue;
    border-radius: 10px;
    font-size: 14px;
   
}

.contactBox button:hover{
    background-color: lightgray;
}
















