body {
    background-repeat: repeat;
    font-family: "Montserrat", "Helvetica", sans-serif;
}

p {
    font-family: "Montserrat", "Helvetica", sans-serif;

}

h3 {
    text-align: center;
    margin-bottom: 3px;
}

.login_page i {
    color: black;
}

.login_page {
    background-color: white;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 3%;
    height: 260px;
    width: 400px;
    padding: 2%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.loginbutton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginbutton i {
    color: white;
}

label {
    margin-top: 5px;
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.mainpage {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    margin: 0 auto;
    height: 670px;
    width: 1000px;
    margin-top: 50px;
}

.mainpage h1 {
    color: white;
    text-align: center;
    font-size: 40px;
    padding-top: 1%;
}

.mainpagebox {
    background-color: black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0 auto;
    height: 80px;

}

.mainpagebox i {
    color: white;
}

.mainpage button {
    margin-bottom: 10px;
    background-color: white;
}

.table {
    margin-left: 2%;
    margin-right: 2%;
    position: relative;
    height: 400px;
    width: 300px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

#admin_add_contact_button{
    margin-top: 10px;
    margin-left: 60px;
}
#logout_button{
    margin-left: 60px;
    margin-bottom: 10px;
}
.map {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    border-radius: 15px;
}

.contact {
    background-color: white;
    border-radius: .3rem;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    height: 600px;
}

.contact_box {
    background-color: black;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    margin: 0 auto;
    height: 80px;

}

.adduserbox h1 {
    color: white;
    text-align: center;
    font-size: 35px;
    padding-top: 3%;
}

.icon-case {
    width: 45px;
    float: left;
    border-radius: 5px 0px 0px 5px;
    background: #eeeeee;
    height: 40px;
    position: relative;
    text-align: center;
}

.userform {
    margin-top: 8%;
}

.userform input {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #eee;
    margin-bottom: 15px;
    width: 75%;
    height: 40px;
    float: left;
    padding: 0px 15px;
}

.userform form {
    border-radius: 5px;
    max-width: 300px;
    width: 100%;
    margin: 1.5% auto;
    background-color: #FFFFFF;
    overflow: hidden;
}

.userform i {
    color: #555;
    font-size: 14px;
    margin-top: 12px;
}

.addbutton {
    text-align: center;

}

.addbutton i {
    color: white;
    margin-right: 6px;
}

.btn-dark i {
    color: white;
    margin-right: 6px;
}

.buttonrow {
    text-align: center;
}

.hidden {
    display: none;
}

.not_clickable {
    pointer-events: none;
}
